@model Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustLayout.cshtml";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <div class="card text-white text-center bg-dark mb-3">
        <div class="card-body">
            <h5 class="card-title">Shop Brews</h5>
            <p class="card-text">Come shop all our Brews.</p>
            <a asp-action="ShopBrews" class="btn btn-primary">Let's Go</a>
        </div>
    </div>

    <div class="card text-white text-center bg-dark mb-3" style="margin-top: 1em">
        <div class="card-body">
            <h5 class="card-title">Shop Breweries</h5>
            <p class="card-text">Shop by all the best breweries.</p>
            <a asp-action="ShopBreweries" class="btn btn-primary">Let's Go'</a>
        </div>
    </div>
</div>
